## State Covid-19 Counts Scrape from NYTimes Github Repo

In [4]:
# Import dependencies
import pandas as pd

In [5]:
# Github URL of page to be scraped 
cases_url = "https://github.com/nytimes/covid-19-data/blob/master/us-states.csv"

In [6]:
# Scrape tabular data from NYTimes github repository
cases = pd.read_html(cases_url)
cases_df = cases[0]

# Drop unnecessary columns and reset index
cases_df = cases_df.drop(columns=["Unnamed: 0"])
cases_df = cases_df.set_index(["date"])
cases_df

                    state  fips  cases  deaths
date
2020-01-21     Washington    53      1       0
2020-01-22     Washington    53      1       0
2020-01-23     Washington    53      1       0
2020-01-24       Illinois    17      1       0
2020-01-24     Washington    53      1       0
...                   ...   ...    ...     ...
2020-04-01       Virginia    51   1511      34
2020-04-01     Washington    53   5588     249
2020-04-01  West Virginia    54    191       2
2020-04-01      Wisconsin    55   1550      33
2020-04-01        Wyoming    56    137       0

[1664 rows x 4 columns]

### Create Database Connection

In [9]:
# Import dependencies
from config import user, password

# Import sqlalchemy to connect to database
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, Column, Integer, String, Float, func
import psycopg2

In [12]:
# Create postgresql connection
engine = create_engine(f"postgresql://{user}:{password}@localhost:5432/Twitter_COVID19")
conn = engine.connect
Base = declarative_base()
Base.metadata.create_all(engine)
session = Session(bind=engine)

In [15]:
Governor = session.query('governors')

In [16]:
Governor

In [6]:
# Load dataframe into database
engine.execute('''delete from cases''')
cases_df.to_sql("cases", engine, if_exists="append")