## State Covid-19 Counts Scrape from NYTimes Github Repo

In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Github URL of page to be scraped 
cases_url = "https://github.com/nytimes/covid-19-data/blob/master/us-states.csv"

In [3]:
# Scrape tabular data from NYTimes github repository
cases = pd.read_html(cases_url)
cases_df = cases[0]

# Drop unnecessary columns and reset index
cases_df = cases_df.drop(columns=["Unnamed: 0"])
cases_df = cases_df.set_index(["date"])
cases_df

                    state  fips  cases  deaths
date
2020-01-21     Washington    53      1       0
2020-01-22     Washington    53      1       0
2020-01-23     Washington    53      1       0
2020-01-24       Illinois    17      1       0
2020-01-24     Washington    53      1       0
...                   ...   ...    ...     ...
2020-03-30       Virginia    51   1021      26
2020-03-30     Washington    53   5179     221
2020-03-30  West Virginia    54    145       1
2020-03-30      Wisconsin    55   1267      20
2020-03-30        Wyoming    56     95       0

[1554 rows x 4 columns]

### Create Database Connection

In [4]:
from config import user, password

# Import sqlalchemy to connect to database
from sqlalchemy import create_engine
import psycopg2

In [5]:
# Create postgresql connection
engine = create_engine(f"postgresql://{user}:{password}@localhost:5432/Twitter_COVID19")

In [6]:
# Load dataframe into database
engine.execute('''delete from cases''')
cases_df.to_sql("cases", engine, if_exists="append")